name: Testing

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 0 * * *' # Run every day at midnight.

jobs:

  functional: #----------------------------------------------------------------------
    name: ${{ matrix.test-package }} (Phar ${{ matrix.use-phar }} / WP ${{ matrix.wp }} / PHP ${{ matrix.php }})
    strategy:
      fail-fast: false
      matrix:
        php: ['7.4']
        wp: ['latest', 'trunk']
        mysql: ['8.0']
        use-phar: [true, false]
        test-package:
          - wp-cli-bundle
          - wp-cli
          - cache-command
          - checksum-command
          - config-command
          - core-command
          - cron-command
          - db-command
          - embed-command
          - entity-command
          - eval-command
          - export-command
          - extension-command
          - i18n-command
          - import-command
          - language-command
          - maintenance-mode-command
          - media-command
          - package-command
          - rewrite-command
          - role-command
          - scaffold-command
          - search-replace-command
          - server-command
          - shell-command
          - super-admin-command
          - widget-command
    runs-on: ubuntu-20.04

    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3 -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=wp_cli_test --entrypoint sh mysql:${{ matrix.mysql }} -c "exec docker-entrypoint.sh mysqld --default-authentication-plugin=mysql_native_password"

    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Check existence of composer.json & behat.yml files
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "composer.json, behat.yml"

      - name: Set up PHP environment
        if: steps.check_files.outputs.files_exists == 'true'
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ matrix.php }}'
          extensions: mysql, zip, imagick
          coverage: none
          tools: composer

      - name: Get Composer cache directory
        if: steps.check_files.outputs.files_exists == 'true'
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Use Composer cache
        if: steps.check_files.outputs.files_exists == 'true'
        uses: actions/cache@master
        with:
          path: ${{ steps['composer-cache'].outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Change ImageMagick policy to allow pdf->png conversion.
        if: steps.check_files.outputs.files_exists == 'true'
        run: sudo sed -i 's/^.*policy.*coder.*none.*PDF.*//' /etc/ImageMagick-6/policy.xml

      - name: Install dependencies
        if: steps.check_files.outputs.files_exists == 'true'
        run: COMPOSER_ROOT_VERSION=dev-master composer install --prefer-dist --no-progress --no-suggest

      - name: Start MySQL server
        if: steps.check_files.outputs.files_exists == 'true'
        run: sudo service mysql start

      - name: Configure DB environment
        if: steps.check_files.outputs.files_exists == 'true'
        run: |
          echo "MYSQL_HOST=127.0.0.1" >> $GITHUB_ENV
          echo "MYSQL_TCP_PORT=${{ job.services.mysql.ports['3306'] }}" >> $GITHUB_ENV
          echo "WP_CLI_TEST_DBROOTUSER=root" >> $GITHUB_ENV
          echo "WP_CLI_TEST_DBROOTPASS=root" >> $GITHUB_ENV
          echo "WP_CLI_TEST_DBUSER=wp_cli_test" >> $GITHUB_ENV
          echo "WP_CLI_TEST_DBPASS=password1" >> $GITHUB_ENV
          echo "WP_CLI_TEST_DBHOST=127.0.0.1:${{ job.services.mysql.ports['3306'] }}" >> $GITHUB_ENV

      - name: Prepare test database
        if: steps.check_files.outputs.files_exists == 'true'
        run: composer prepare-tests

      - name: Check Behat environment
        if: steps.check_files.outputs.files_exists == 'true'
        run: WP_CLI_TEST_DEBUG_BEHAT_ENV=1 composer behat

      - name: Conditionally use Phar instead of source
        if: steps.check_files.outputs.files_exists == 'true' && matrix.use-phar == true
        run: echo "TEST_PHAR=nightly" > $GITHUB_ENV

      - name: Run Behat
        if: steps.check_files.outputs.files_exists == 'true'
        env:
          WP_VERSION: '${{ matrix.wp }}'
          TEST_PACKAGE: 'wp-cli/${{ matrix.test-package }}'
        run: composer test
